.container {
  margin-top: 20px;
}

.table {
  margin-bottom: 0;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
}

.table tbody td {
  text-align: center;
  vertical-align: middle;
}
